# created by virtualenv automatically
*.safetensors
scripts/data/
.env
*.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/pyproject.toml
/uv.lock
/.idea/vcs.xml
