fastapi
pydantic
uvicorn
gdown
--extra-index-url https://download.pytorch.org/whl/cpu
numpy
torch
transformers
python-dotenv
pymongo
google-auth
google-cloud-texttospeech
google-generativeai
requests
python-multipart
